body {
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
    color: white;

    background-image: url("fundo.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.decorativa{

    position:absolute;

    width:50px;

    pointer-events:none;

    animation:estrelaDecorativa 3s linear forwards;

}

.ceu{
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 45vh; /* <<< ISSO É O TRUQUE */

    pointer-events: none;
    overflow: hidden;
}

.estrela{
    position:absolute;
    cursor:pointer;
}

.icone{
    width:40px;

    animation: brilho 2.5s ease-in-out infinite;

    transition: transform .3s ease,
                filter .3s ease;
}

.estrela:hover .icone{

    transform:scale(2);

    animation: brilhoHover 1.2s ease-in-out infinite;
    
    filter:
        drop-shadow(0 0 8px white)
        drop-shadow(0 0 18px white);

}

.carta{

    position:absolute;

    left:55px;

    top:-40px;

    width:260px;

    opacity:0;

    pointer-events:none;

    transform:translateX(-15px);

    transition:
        opacity .35s,
        transform .35s;

    z-index: 20;

}

.estrela:hover .carta{

    opacity:1;

    transform:translateX(0);

}

.estrela:hover{
    z-index:10;
}

.estrela1{
    top: 10%;
    left: 35%;
}

.estrela2{
    top: 40%;
    left: 35%;
}

.estrela3{
    top: 20%;
    left: 50%;
}

.estrela4{
    top: 5%;
    left: 70%;
}

.estrela5{
    top: 33%;
    left: 62%;
}

.estrela6{
    top: 32%;
    left: 81%;
}

.easter-egg{
    position: absolute;

    top: 60%;
    left: 45%;

    width: 120px;
    height: 120px;

    background: transparent;

    cursor: default;
}

.cartaFinal{
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(0.8);

    opacity: 0;
    pointer-events: none;

    transition: 0.4s ease;

    z-index: 999;
}

.cartaFinal img{
    width: 320px; /* ajusta como quiser */
    height: auto;
}

@keyframes brilho {
    0% {
        transform: scale(1);
        filter: drop-shadow(0 0 2px white);
        opacity: 0.7;
    }

    50% {
        transform: scale(1.08);
        filter: drop-shadow(0 0 12px white);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        filter: drop-shadow(0 0 2px white);
        opacity: 0.7;
    }
}

@keyframes brilhoHover {
    0% {
        filter: drop-shadow(0 0 10px white);
    }

    25% {
        filter: drop-shadow(0 0 20px white);
    }  

    50% {
        filter: drop-shadow(0 0 10px white);
    }

    75% {
        filter: drop-shadow(0 0 20px white);
    }

    100% {
        filter: drop-shadow(0 0 10px white);
    }
}

@keyframes estrelaDecorativa {

    0%{
        opacity:0;
        transform:scale(0.3);
        filter:drop-shadow(0 0 0px white);
    }

    25%{
        opacity:1;
        transform:scale(1);
        filter:drop-shadow(0 0 10px white);
    }

    70%{
        opacity:1;
        transform:scale(0.8);
        filter:drop-shadow(0 0 6px white);
    }

    100%{
        opacity:0;
        transform:scale(0);
        filter:drop-shadow(0 0 0px white);
    }

}


@keyframes erroShake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.erro{
    animation: erroShake 0.3s;
}
